@import "tailwindcss";
@font-face {
  font-family: "Syne";
  src: url("./assets/fonts/Syne/static/Syne-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Syne";
  src: url("./assets/fonts/Syne/static/Syne-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circleMotion {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(220px) translateY(220px);
  }
}

.animate-rotate {
  animation: rotateCircle 10s linear infinite;
}

.animate-pulse {
  animation: pulseAnimation 3s infinite;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
